.month{
  width: 100%;
  
  thead{
    tr:not(.week){
      background: $month_title;
    }
  }
  
  .days td{
    text-align: center;
    background: $day;
    border: 1px #FFF solid;
    color: #000;
    font-weight: 700;
    width: 14.29%;
    
    &.weekend{
      background: $weekend;
    }
    &.weekdays:not(.empty){
      background: $weekdays;
    }
  }
  
  td{
    height: 38px;
    min-height: 38px;
    max-height: 38px;
  }
}