.pd-t-20{
  padding-top: 20px;
}

body{
  padding: 20px;
}

#result{
  [class*='col-']{
    /*padding: 10px;
    border-radius: 10px;
    border: 1px #c1c1c1 solid;
    box-shadow: 4px 5px 14px 0px #c1c1c1;*/
    min-height: 270px;
    margin-bottom: 10px;
  }
  
  h3{
    text-align: center;
    background-color: #eef99659;
    padding: 50px;
    border: 1px #000 dashed;
    border-radius: 10px;
  }
}