/* line 1, ../sass/_global.scss */
.pd-t-20 {
  padding-top: 20px;
}

/* line 5, ../sass/_global.scss */
body {
  padding: 20px;
}

/* line 10, ../sass/_global.scss */
#result [class*='col-'] {
  /*padding: 10px;
  border-radius: 10px;
  border: 1px #c1c1c1 solid;
  box-shadow: 4px 5px 14px 0px #c1c1c1;*/
  min-height: 270px;
  margin-bottom: 10px;
}
/* line 19, ../sass/_global.scss */
#result h3 {
  text-align: center;
  background-color: #eef99659;
  padding: 50px;
  border: 1px #000 dashed;
  border-radius: 10px;
}

/* line 1, ../sass/_form.scss */
form {
  padding: 10px;
}

/* line 1, ../sass/_calendar.scss */
.month {
  width: 100%;
}
/* line 5, ../sass/_calendar.scss */
.month thead tr:not(.week) {
  background: #f0f9cc;
}
/* line 10, ../sass/_calendar.scss */
.month .days td {
  text-align: center;
  background: #cccccc;
  border: 1px #FFF solid;
  color: #000;
  font-weight: 700;
  width: 14.29%;
}
/* line 18, ../sass/_calendar.scss */
.month .days td.weekend {
  background: #fcfa1b;
}
/* line 21, ../sass/_calendar.scss */
.month .days td.weekdays:not(.empty) {
  background: #c8de9e;
}
/* line 26, ../sass/_calendar.scss */
.month td {
  height: 38px;
  min-height: 38px;
  max-height: 38px;
}
