/* line 1, ../sass/_global.scss */
.pd-t-20 {
  padding-top: 20px;
}

/* line 1, ../sass/_form.scss */
form {
  padding: 10px;
}

/* line 1, ../sass/_calendar.scss */
.month {
  width: 100%;
}
/* line 5, ../sass/_calendar.scss */
.month thead tr:not(.week) {
  background: #f0f9cc;
}
/* line 10, ../sass/_calendar.scss */
.month .days td {
  text-align: center;
  background: #cccccc;
  border: 1px #FFF solid;
  color: #000;
  font-weight: 700;
  width: 14.29%;
  height: 30px;
}
/* line 19, ../sass/_calendar.scss */
.month .days td.weekend {
  background: #fcfa1b;
}
